<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneProject"
        tools:targetApi="31">
        <activity
            android:name=".ui.form.payment.ExtendPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.packet.ExtendPackageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.admin.ProofActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.editprofile.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.admin.DetailAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.workshop.DetailWorkshopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.tari.DetailDanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.process.ProcessRegActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.reg.RegFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.process.ProcessAddActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.packet.PacketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.account.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.form.workshop.AddWorkshopActivity"
            android:exported="false" />
    </application>

</manifest>